#intro-icons-div{
    display: flex;
    justify-content: space-evenly;
    margin-top: 2.5rem;
    direction: rtl;
    width:'100%'
}
@media (max-width:767px) {
    #intro-icons-div{
        display: grid !important;
        justify-content: center !important;
    }
}

.first-div-icons-intro{
    margin-top: 5rem !important;
}

.hr-icon-intro{
    margin-top: 4rem;
}


.html-title{
text-align: right;
font-size: 1.5rem;
color: rgb(41, 41, 160);
margin-right: 4rem;
font-family: vazir;
}
.accordion-hed{
 background-color: black !important;
}
.accordion-hed span{
    margin-left: 1%;
    font-family: vazir;
}

.acoordion{
    margin-top: 4rem;
   
}

.acoordian-text{
    font-family: vazir-medium;
    line-height: 3rem;
}
.accord-item{
    border:dashed 1px blue  !important;
    padding: 2rem;
} 
@media (max-width:767px) {
    .accordion-hed span{
        margin-left: 3%;
       font-size: .8rem;
       text-align: right;
       line-height: 2rem;
    }.acoordian-text{
       line-height: 2rem !important;
       font-size: .8rem !important;
    }
}