.title-footer-backend{
    font-family: vazir;
  margin:3rem 4rem 3rem 3rem;
    text-align: right;
    font-size: 1.4rem;
 color: rgb(47, 47, 134);
}
@media (max-width:768px) {
    .title-footer-backend{
     
        text-align: center;
     
    }
}