.formLogin{
    display: grid;
    justify-content: center;
    border-radius: 10px;
    border: .5px solid black;
    width: 350px;
    margin-left: auto !important;
    margin-right:auto !important;
    padding: 1rem;
    height: 400px;
    padding-top: 2rem;
    padding-bottom: 2rem;
 
    background-color: white;
}
.not-mem{
    display: flex;
    justify-content: center;
    direction: rtl;
    font-family: vazir;
}
.login-title{
    text-align: center;
    font-family: vazirlight;
    color: black;
    font-family: vazir;
}

.inputform{
    border: 1px solid black;
    margin-top: 1rem;
    font-family: vazir;
    direction: rtl;
    padding: .7rem;
    border-radius: 10px;
   width: 300px !important;
}
.btn-log{
    font-family: vazir;
}

@media (max-width:350px) {
    .formLogin{
        width: 300px;
    }.inputform{
        width: 200px !important;
    }
}

.form-bg{
    background: url('https://parsstock.ir/600/10167/547416019-%D9%88-%D9%BE%D8%B3-%D8%B2%D9%85%DB%8C%D9%86%D9%87-%D8%B3%DB%8C%D8%A7%D9%87-%D9%88-%D8%B3%D9%81%DB%8C%D8%AF-%D8%A7%D9%84%DA%AF%D9%88-%D8%A8%D8%AF%D9%88%D9%86-%D8%AF%D8%B1%D8%B2-%D8%B3%D9%81%DB%8C%D8%AF-%D8%AE%D8%B7-%D8%AE%D8%B7%DB%8C-%D9%87%D8%A7%DB%8C-handdrawn.jpg');
    width: 100%;
    height: 550px;
}
.form-bg2{
    background: url('https://parsstock.ir/600/10200/314502629-%D8%A7%D9%84%DA%AF%D9%88%DB%8C-%D8%A8%D8%AF%D9%88%D9%86-%D8%AF%D8%B1%D8%B2-%D9%86%D9%88%D8%A7%D8%B1-%D8%A8%D8%AF%D9%88%D9%86-%D8%AF%D8%B1%D8%B2-%D8%AF%D8%B3%D8%AA-%DA%A9%D8%B4%DB%8C%D8%AF%D9%87-%D8%B4%D8%AF%D9%87-%D8%A7%D8%B3%D8%AA-%D9%82%D9%84%D9%85-%D9%85%D9%88-%D8%AE%D8%B4%DA%A9-%D9%88-%D9%84%DA%A9%D9%87-%D9%87%D8%A7%DB%8C-%D8%AE%D8%B4%D9%86-%D8%B3%DB%8C%D8%A7%D9%87-%D9%88-%D8%B3%D9%81%DB%8C%D8%AF-%D9%BE%D8%B3-%D8%B2%D9%85%DB%8C%D9%86%D9%87-%D8%A7%D9%86%D8%AA%D8%B2%D8%A7%D8%B9%DB%8C.jpg');
    width: 100%;
    height: 550px;
}