#intro-icons-div{
    display: flex;
    justify-content: space-evenly;
    margin-top: 2.5rem;
    direction: rtl;
}

.first-div-icons-intro{
    margin-top: 5rem !important;
}

.hr-icon-intro{
    margin-top: 4rem;
}