.img-maghale-header-div{
    display: flex;
    justify-content: center;
}
.maghaleheaderr-title{
    text-align: center;
    direction: rtl;
    font-size: 1.4rem;
    font-family: vazir;
    margin-top: 3rem;
}

.img-maghale-header{
    width:450px;
    height: 300px;
    border-radius: 50px;
    border:dashed 1px black;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
@media (max-width:766px) {
    .img-maghale-header{
    width:100%;
    height: 200px;
}.maghaleheaderr-title{
    font-size: 1.022223rem;
    padding: 1rem;
}.icon-maghale-star{
    width: 1.5rem !important;
    height:1.5rem !important;
    margin-top: .3rem;
}.maghale-star p{
    padding-top: 0;
}.text-maghale-header{
    text-align: center;
}

}

.maghale-star{
    display: flex;
    justify-content: space-between;
   
}
.icon-maghale-star{
     color: orange;
     width: 2rem;
     height: 2rem;
}
.maghale-star-div{
     display: flex;
    justify-content: right;
    align-items: center;
}
.maghale-star p {
    margin-right: 2rem;
    font-family: vazir;
    font-size: 1.2rem;
    direction: rtl;
    padding-top: .2rem;
}
.text-maghale-header{
    text-align: right;
    line-height: 3.5rem;
    font-family: vazir;
}
.text-maghale-header p {
    direction: rtl;
}

@media (max-width:766px) {
   .text-maghale-header p{
    margin-top: 2rem;
    text-align: center;
   } 
}


.img-maghale-text-div{
    display: flex;
    justify-content: center;
}

.img-java-maghale{
    border-radius: 30px;
    border: 2px solid black;
}


.artcli-maghale{
    display: flex;
    justify-content: space-evenly;
}



@media (max-width:766px) {
    .artcli-maghale{
        display: grid;
        justify-content: space-evenly;
    }.footer-maghale-text{
        text-align: center !important;
      
        margin: 1rem;
    }.title-maghale-text{

        margin-top: 3rem !important;
    }
}

.footer-maghale-text{
    text-align: right;
color: rgb(39, 39, 155);
font-size: 1.5rem;
margin: 3rem 3rem 3rem 3rem;
font-family: vazir;
}

.img-maghale-text-border{
    border: none !important;
    border-radius: 30px;
}