@font-face {
    font-family: vazir-medium;
    src: url(./fonts/vazir/Vazir-Medium.woff) format('woff');
  }
  @font-face {
    font-family: vazir-bold;
    src: url(./fonts/vazir/Vazir-Bold.eot) format('eot');
  }