.text-title{
    text-align: right;
    font-family: vazir;
    color: rgb(41, 41, 160);
    font-size: 1.5rem;
    
    direction: rtl;
    margin-right:4rem;
}

.text-intro-text{
    margin-top: 2rem;
    font-family: vazir-medium;;
    line-height: 4rem;
    direction: rtl;
    text-align: right;
    padding-right: 2rem;
    padding-left: 2rem;
}
.img-textintro{
    display: grid;
    justify-content: center;
}

.img-text-intro{
    height: 500px;
    width: 100%;
   
    margin-top:3rem;
    border-radius: 50px;
}
.img-text-intro-div{
    display: flex;
    justify-content: center;
}

@media (max-width:340px) {
    .img-text-intro{
        width: 300px;
        height: 200px !important;
      
    }
}
@media (max-width:769px) {
    .text-title{
        text-align: center;
        margin-right: 0;
    }.img-text-intro{
     
        height:300px ;
      
    }.text-intro-text{
        text-align: center !important;
    }.text-intro{
        text-align: center !important;
        line-height: 3rem !important;
    }
}
.mt-6{
    margin-top: 4rem;
}
@media (min-width:1000px) {
    .text-intro{
        padding-left: 2rem;
        padding-right:2rem;
    }
}

.mt-8{
    margin-top: 5rem;
}